<!-- Page Content -->
<div class="container">
    <h2>Welcome to NETiD client portal</h2>
    <h3>This portal is under development now. Please check back later.</h3>
    <div>This portal has been developed using:<br />
        <a href="http://www.typescriptlang.org/">Typescript</a><br />
        <a href="https://angular.io/">Angular 2</a><br />
        <a href="http://getbootstrap.com/">Bootstrap</a><br />
        <a href="http://gulpjs.com/"> Gulp.js</a><br />
        <a href="https://webpack.github.io"> Webpack </a>
        <a href="https://www.npmjs.com/"> NPM </a>
        <br /><br />
    </div>    <!-- /.row -->
</div>
<!-- /.container -->
